<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="aspNetClassicSessionState" type="AspNetClassicSessionState.AspNet.AspNetClassicStateConfigurationSection, AspNetClassicSessionState.AspNet"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <aspNetClassicSessionState enabled="true" prefix="ASP_"/>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
    <pages enableSessionState="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="true"/>
  </system.webServer>
</configuration>